<hr>
<hr>
<hr>
<strong>Encabezado</strong>
<br>
<p>Cadena Original: {{encabezado|default:"Sección sin título"}}</p>
<p>Uso de Join: {{encabezado|join:', '}}</p>
<p>Tamaño de la cadena: {{encabezado|length}}</p>
<p>Mayuscula: {{encabezado|upper}}</p>
<p>Minuscula: {{encabezado|lower}}</p>
<p>Contador de palabras: {{encabezado|wordcount}}</p>
<p>{{encabezado}}</p>
<br>
<p>Lista Original: {{estudiantes}}</p>
<p>Uso Join: {{estudiantes|join:', '}}</p>
<p>Primero: {{estudiantes|first}}</p>
<p>Ultimo: {{estudiantes|last}}</p>
<p>Aleatorio: {{estudiantes|random}}</p>
<p>Tamaño de la letra: {{estudiantes|length}}</p>

